<!DOCTYPE html>
<html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name ="viewport" content="width=device-width,initial-scale=1.0">
<title>Karo Portfolio |By Karo </title>
<link rel="stylesheet" href="../public/stylesheet/portfolio.css">
<link rel="stylesheet" href="../public/stylesheet/surveyform.css">

<link rel="shortcut icon" href="../public/images/myfavicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
</head>

<body>
  
<nav>
  
  <ul id='navbar'>
    <img id="logo" src="../public/images/myplogo.png" alt="logo">
    <li><a href="#welcome-section">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Works</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>


<div id="welcome-section" class="intro">

  <h1>Hello i'am Oghenekaro.</h1>
  <p>a web developer</p>


</div>
<div id="projects" class="work">
  <h2 class="work-header">These are my project works..</h2>
  <a href="file:///C:/Users/karon/OneDrive/Desktop/Karo%20Portfolio/view/ragnertribute.html" target="_blank" class="project project-tile">
  <!--<a href="https://codepen.io/Karons101/pen/NoZRbq" target="_blank" class="project project-tile">-->
    <img class="project-pic" src="https://steamuserimages-a.akamaihd.net/ugc/927052134012835304/9E372C92662C89C0CD710F9339096480CEB6E244/" alt="project">
    <div class="project-title">Tribute Page</div>
  </a>
  <!--<a href="https://codepen.io/Karons101/pen/GegLjm" target="_blank" class="project project-tile">
    <img class="project-pic" src="http://www.therockkennel.com/images/Logo.gif" alt="project">
    <div class="project-title">Product of landing page</div>
  </a>-->
  <a href="file:///D:/market%20website/index.html" target="_blank" class="project project-tile">
    <img class="project-pic" src="../public/images/cute.jpg" alt="project">
    <div class="project-title">Product of landing page</div>
  </a>

  <!--<a href="https://codepen.io/Karons101/pen/drbzMz" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://discourse-user-assets.s3.amazonaws.com/original/3X/a/e/ae785e69012d59eff4916f7576637c212611159f.jpg" alt="project">
    <div class="project-title">Survey form</div>
  </a>-->
  <a href="file:///C:/Users/karon/OneDrive/Desktop/Karo%20Portfolio/view/surveyform.html" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://discourse-user-assets.s3.amazonaws.com/original/3X/a/e/ae785e69012d59eff4916f7576637c212611159f.jpg" alt="project">
    <div class="project-title">Survey form</div>
  </a>
  

  <!--<a href="https://codepen.io/Karons101/pen/pYPNpJ" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://66.media.tumblr.com/064ec507f6eaaa47474fb2b8c785a258/tumblr_inline_pg37yqq3Pq1sliaqe_1280.png" alt="project">
    <div class="project-title">Technical documentation page</div>
  </a>-->
  
  <a href="file:///C:/Users/karon/OneDrive/Desktop/Karo%20Portfolio/view/technicaldocument.html" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://66.media.tumblr.com/064ec507f6eaaa47474fb2b8c785a258/tumblr_inline_pg37yqq3Pq1sliaqe_1280.png" alt="project">
    <div class="project-title">Technical documentation page</div>
  </a>

  <div id="about">
<h3 class="h3a">Some about me</h3>
  <div class="about">
  <div class="aboutme">
  <p>Working to be a Pen tester, E hacker, software, web developer, programmer, from South South, Nigeria. Previously acquired certifications from Cybrary and Microsoft on line courses.. Currently working on attaining certifications from Free Code Camp. Also very interested in commiting to a coding bootcamp in the near future. The future is brighter and better!</p></div>
  <div class="mug-container">
    <img src="https://avatars0.githubusercontent.com/u/47512311?s=460&v=4" class="mug" alt="Oghenekaro">
  </div>
  </div>
  <h4>Currently working with the following technologies</h4>
  <div class="tech-container"><img src="../public/images/html5.png " class="tech-logo"alt="htmlcssjsreactnodejslogo"></img>
    
                              <img src="../public/images/css3.png " class="tech-logo"alt="htmlcssjsreactnodejslogo"></img>
                              
                              <img src="../public/images/js.jpg " class="tech-logo"alt="htmlcssjsreactnodejslogo"></img>
                              
                              <img src="../public/images/react.png " class="tech-logo"alt="htmlcssjsreactnodejslogo"></img>

                              <img src="../public/images/nodejs.jpg " class="tech-logo"alt="htmlcssjsreactnodejslogo"></img>
  </div>
  </div>
  
  



<div id="contact" class="contact">
<div class="header">
<h1>You can reach me</h1>
<p>Would you like to get your web projects done right?</p>
  </div>
<a href="https://en-gb.facebook.com" target="_blank" class="contact-details">Facebook</a>
  <a id='profile-link' href="https://github.com/karons101" target="_blank" class="contact-details">GitHub</a>
<a href="https://twitter.com/karonstical" target="_blank" class="contact-details">Twitter</a>
</div>

<footer>
<p>&copy; Created by <a href="https://www.linkedin.com/in/oghenekaro-cletus-anakpoha-58222552/" target="_blank">Oghenekaro</a></p>
</footer>
</body>
</html>
